# Volcengine Doubao API Configuration
# 请在此处填入你在火山引擎控制台申请的 API Key 和推理接入点

DOUBAO_API_KEY="d0fc4fd9-9181-4a18-808e-7a4000b187fb"
DOUBAO_MODEL_ENDPOINT="ep-20260226111833-lwlkr"
DOUBAO_EMBEDDING_ENDPOINT="ep-20260226112314-rkwmc"

# uvicorn server host/port
HOST=0.0.0.0
PORT=8000
